@media (width>740px){
    .mother {
        background-image: url(/assets/backhead.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    header {
        background-image: url(/assets/figureheader.svg);
        background-repeat: no-repeat;
        background-position:  right 0;
        height: 370px;
    }
    .eq {
        margin-top: 61px;
        margin-left:  40px;
    }
    .ketamini1 {
        position: absolute;
        margin-top: 30px;
    }
    #k3 {
        margin-left: 39px ;
        margin-top: 100px;
        width: 520px;
        font-size: 64px;
        font-weight: 700;
    }
    #k4 {
        margin-left: 45px ;
        margin-top: 28px;
        width: 514px;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px; 
    }
    #firstbox {
        width: 696px;
        height: 600px;
    }
    .iphoneimg {
        padding-top: 111px;
        margin-left: -280px;
    }
    #secondorangebox {
        position: absolute;
        margin-top: 600px;
        margin-left: 120px;
        width: 399px;
        height: 546px;
    }
    .footer {
        padding-top: 170px;
        display: grid;
        place-items: center;
        grid-template-areas:"erti erti erti otxi"
                            "ori ori ori otxi"
                            "sami sami sami otxi";
    }
    .footeq {
        grid-area: erti;
    }
    .meoretxt {
        grid-area: ori;
    }
    .mailadd {
        grid-area: sami;
        margin-bottom: 80px;
    }
    .nets {
        grid-area: otxi;
    }
}
@media (width > 1440px) {
    header {
        background-image: url(/assets/Group\ Copy.svg);
        height: 430px;
    }
    .mother {
        background-size:cover;
    }
    .eq {
        margin-left:165px;
    }
    #k3 {
        margin-left:165px;
        width: 1015px;
        font-size: 88px;
        font-weight: 700;
        line-height: 88px; 
        letter-spacing: -1px;
    }
    #k4 {
        margin-left:165px;
        width: 825px;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 34px;
    }
    #firstbox {
        margin-left: 60px;
        width: 1110px;
        height: 600px;
    }
    .iphoneimg {
        padding-top: 183px;
        margin-left: -280px;
    }
    #secondorangebox {
        width: 446px;
        height: 625px;
        margin-left: 650px;
    }
    .sb1 {
        width: 333px;
        font-size: 40px;
        font-weight: 700;
        line-height: 52px;
    }
    .sb2 {
        width: 333px;
        font-size: 20px;
        font-weight: 400;
        line-height: 34px;
    }
    .sb3 {
        font-size: 65px;
        font-style: normal;
        font-weight: 700;
        line-height: 52px;
    }
    .sb4 {
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: -0.2px;
    }
    .but1 {
        width: 333px;
        height: 61px;
    }
    .but2 {
        width: 333px;
        height: 61px;
    }
}